#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 750px) {
    #background-video {
        display: none;
    }

    body {
        background: url("../images/Pexels\ Videos\ 2288346.mp4") no-repeat;
        background-size: cover;
    }
}

/* body {
    background-image: url(../images/background.jpeg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
} */

.table-responsive {
    max-height: 250px;
    overflow-y: auto;
    scroll-behavior: smooth;
    border-radius: 10px;
    margin-top: 20px;
}

#scroll::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

#scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ff38d4, #51dfe1) !important;
    border-radius: 5px;
}

#table {
    font-family: "Cirulis display", sans-serif !important;
    margin-top: 20px;
    border-radius: 10px !important;
    background: transparent !important;
    color: whitesmoke;
}

#title {
    font-size: 50px;
    font-family: "Cirulis display", sans-serif !important;
    font-display: swap;
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;

    width: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
}

#form {
    background: transparent;
    border-radius: 10px;
    width: 900px;
    margin-left: 10px;
    font-family: "Cirulis display", sans-serif !important;
    color: whitesmoke !important;
}

#input1 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-top: 10px
}

#input2 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-top: 10px
}

#input3 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-top: 40px
}

#input4 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-bottom: 20px;

}

#input5 {
    display: inline-block;
    width: 270px;
    margin-left: 20px;
    margin-bottom: 20px;

}

#btn {
    display: inline-block;
    margin-left: 140px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #ddd6d6;
    color: whitesmoke;

}

#delete {
    display: inline-block;
    margin-bottom: 10px;
    color: #ff38d4;
    border-color: #ff38d4;
    box-shadow: 0 0 0 0.2rem rgba(255, 56, 212, 0.25);


}

button:focus {
    color: #95ff0b !important;
    background-color: #ff38d4 !important;
    border-color: #51dfe1 !;
}

#edit {
    display: inline-block;
    margin-bottom: 10px;
    color: #95ff0b;
    border-color: #51dfe1;
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 11, 0.25);

}

#alert {
    display: inline;
    margin-top: 50px;
    width: 250px;
    height: 20px;
    font-size: 15px;
    margin-left: 10px;
    background-color: #ff38d4;
    color: white;

}

#alert2 {
    margin-top: 20px;

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#radio1 {
    background-color: #ff38d4;
}

#radio2 {
    background-color: #ff38d4;
}